<!--list.tmpl-->
<!-- ###LIST_TEMPLATE### begin -->

<!-- ###PRE_LIST_TEMPLATE### begin -->
<div id="cal-header">
<h2>###LANG_LIST_TITLE###<span class="hfg">: </span>
<span class="subtitle">###LANG_LIST_SUBTITLE###</span>
</h2>
</div>
###SECTION_MENU###
<div class="ce-body">
<dl class="linklist-commented cal-latest">
<!-- ###PRE_LIST_TEMPLATE### end -->
	<!-- ###LIST### start -->
	<!-- ###LIST### end -->
<!-- ###POST_LIST_TEMPLATE### begin -->
</dl>
</div>
<!-- ###POST_LIST_TEMPLATE### end -->
<!-- ###LIST_TEMPLATE### end -->
<!--/list.tmpl-->
